.body {
  background-image: url('../images/vetor-topo.png');
  background-position: 100% 0px;
  background-size: auto;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #272727;
}

.titulo {
  font-family: 'Gotham ultra', sans-serif;
  font-size: 38px;
  font-weight: 900;
}

.h1 {
  font-size: 29px;
  line-height: 39px;
  font-weight: 400;
}

.h1.center {
  position: relative;
  z-index: 999;
  margin-bottom: 30px;
  text-align: center;
}

.h1.center.bold.branco {
  color: #fff;
}

.cta {
  display: block;
  width: 460px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  float: none;
  clear: both;
  border-radius: 100px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(0deg, #fc5419, #fc8b19);
  background-image: linear-gradient(90deg, #fc5419, #fc8b19);
  font-family: Gotham, sans-serif;
  color: #fff;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.cta:hover {
  background-color: #fc5419;
  background-image: -webkit-linear-gradient(170deg, #fc5419, #fc8b19);
  background-image: linear-gradient(280deg, #fc5419, #fc8b19);
  color: #fff;
}

.cta.contraste {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: both;
  border-color: #fc5419;
  background-color: #fff;
}

.cta.contraste:hover {
  border-color: #fff;
  background-color: #fc5419;
  color: #fff;
}

.cta.conteudo-3 {
  display: block;
  margin: 20px auto 50px;
  text-align: center;
}

.cta.formulario {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fc8b19;
  background-image: none;
}

.cta.formulario2 {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fc5419;
  background-image: -webkit-linear-gradient(45deg, #fc5419, #fc8b19);
  background-image: linear-gradient(45deg, #fc5419, #fc8b19);
}

.logo-home {
  display: block;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
  background-color: transparent;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 90px;
  background-color: transparent;
}

.section-conteudo-1 {
  position: relative;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #eee;
}

.bloco-destaque {
  width: 300px;
  height: 300px;
  margin-top: 90px;
  margin-right: 200px;
  margin-left: auto;
  border: 10px solid #ddd;
  border-radius: 10px;
  background-color: #ddd;
}

.nav-menu {
  margin-top: 25px;
  float: right;
}

.navbutton {
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px 0px;
  font-family: Gotham, sans-serif;
  color: #fc5419;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: none;
}

.navbutton:hover {
  border-bottom: 1px solid #fc8b19;
}

.navbutton.w--current {
  border-bottom: 1px solid #fc8b19;
  color: #fc5419;
}

.navbutton.contato {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 100px;
  background-image: -webkit-linear-gradient(0deg, #fc5419, #fc8b19);
  background-image: linear-gradient(90deg, #fc5419, #fc8b19);
  color: #fff;
}

.h2 {
  margin-top: 30px;
  float: none;
  color: #272727;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-align: left;
}

.h2.conteudo-1 {
  margin-top: 0px;
  color: #272727;
  font-weight: 300;
  text-align: left;
}

.h2.conteudo-1.center {
  display: block;
  margin-top: 40px;
  margin-bottom: 0px;
  float: none;
  color: #272727;
  text-align: center;
}

.h2.conteudo-1.box {
  margin-top: 50px;
}

.h2.center {
  margin-bottom: 30px;
  text-align: center;
}

.h2.titulo-rodape {
  margin-top: 0px;
  color: #272727;
  font-weight: 900;
}

.h2.formulario {
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-transform: none;
}

.bloco-planos {
  display: block;
  width: 100%;
  height: 320px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  float: left;
  clear: right;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
}

.bloco-planos.bloco-destaque {
  padding-top: 0px;
  float: none;
  border-color: transparent;
  background-color: #fc8b19;
}

.icone-planos {
  display: block;
  height: 100px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.h3 {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.paragrafo {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  text-align: left;
}

.section-conteudo-2 {
  position: relative;
  z-index: 9;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  background-image: url('../images/vetor-topo.png');
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: no-repeat;
}

.bold {
  font-weight: 900;
}

.icone-loja {
  display: block;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  float: right;
  clear: none;
}

.icone-loja.direita {
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}

.smartphone {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 0;
  display: block;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  float: right;
  clear: none;
}

.section-conteudo-3 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  background-image: url('../images/background.png');
  background-position: 50% 0px;
  background-size: auto;
  background-repeat: no-repeat;
}

.textfield {
  width: 100%;
  height: 50px;
  margin: 10px 5px 0px;
  padding: 10px 20px;
  float: none;
  clear: left;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.textfield:focus {
  border-color: #fff;
}

.textfield::-webkit-input-placeholder {
  color: #fff;
}

.textfield:-ms-input-placeholder {
  color: #fff;
}

.textfield::placeholder {
  color: #fff;
}

.textfield.branco {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-color: #272727;
  background-color: transparent;
  color: #272727;
}

.textfield.branco::-webkit-input-placeholder {
  color: #272727;
}

.textfield.branco:-ms-input-placeholder {
  color: #272727;
}

.textfield.branco::placeholder {
  color: #272727;
}

.tabela {
  margin-top: 25%;
  margin-bottom: 5%;
}

.image {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  display: block;
}

.image.mao {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  margin-top: -55px;
}

.section-conteudo-5 {
  position: relative;
  z-index: 999;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fc5419;
  background-image: url('../images/background-2.png');
  background-position: 0px 0px;
  background-size: cover;
}

.imagem-topo {
  margin-bottom: 50px;
}

.rodape {
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: #fc8b19;
}

.rodape._2 {
  background-color: #fff;
}

.logo-rodape {
  margin-bottom: 10px;
  float: left;
  clear: both;
}

.icone-rede-social {
  height: 50px;
  margin-right: 5px;
  margin-bottom: 20px;
  color: #2b2b2b;
}

.endereco {
  margin-top: 20px;
  clear: both;
  color: #272727;
}

.titulo-app-rodape {
  color: #272727;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  text-transform: none;
}

.nav-bar-background {
  position: fixed;
  display: block;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #fc5419;
  background-color: #fff;
}

.icone-seguro {
  display: block;
  width: 150px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.combobox {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2px;
  padding-left: 20px;
  border: 1px solid #272727;
  border-radius: 100px;
  background-color: transparent;
  color: #272727;
}

.combobox:hover {
  background-color: transparent;
}

.combobox:active {
  background-color: transparent;
}

.combobox:focus {
  background-color: transparent;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container-conta {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  padding: 0px;
}

.background-conta {
  padding: 10px 20px 20px;
  background-color: rgba(252, 84, 25, .5);
}

@media (max-width: 991px) {
  .titulo {
    font-size: 34px;
    line-height: 29px;
  }
  .cta.formulario {
    font-size: 12px;
  }
  .section-conteudo-1 {
    padding-top: 20px;
  }
  .nav-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 89px;
    background-color: #fff;
  }
  .navbutton {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none;
    border-radius: 0px;
    font-size: 20px;
    text-align: center;
  }
  .navbutton.w--current {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    border-radius: 0px;
  }
  .h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .bloco-planos {
    height: auto;
    min-height: 380px;
  }
  .icone-loja {
    height: 40px;
  }
  .smartphone {
    display: none;
  }
  .section-conteudo-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .textfield {
    font-size: 10px;
  }
  .tabela {
    margin-top: 100px;
  }
  .image.mao {
    margin-top: 40px;
  }
  .section-conteudo-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .imagem-topo {
    margin-bottom: 0px;
  }
  .logo-rodape {
    width: 100px;
    margin-bottom: 5px;
  }
  .icone-rede-social {
    height: 35px;
  }
  .endereco {
    font-size: 11px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .h1 {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
  }
  .cta {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .cta.contraste {
    display: block;
    width: 90%;
  }
  .cta.conteudo-3 {
    width: 90%;
  }
  .cta.formulario2 {
    width: 90%;
  }
  .logo-home {
    height: 30px;
  }
  .section-conteudo-1 {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .h2 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .h2.conteudo-1 {
    margin-top: 10px;
  }
  .h2.conteudo-1.box {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .h2.titulo-rodape {
    text-align: center;
  }
  .bloco-planos {
    height: auto;
    min-height: auto;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .bloco-planos.bloco-destaque {
    height: auto;
    min-height: auto;
  }
  .icone-loja {
    margin-bottom: 20px;
  }
  .smartphone {
    display: none;
  }
  .section-conteudo-3 {
    padding-bottom: 30px;
  }
  .tabela {
    margin-top: 80px;
  }
  .image {
    display: block;
  }
  .image.mao {
    display: none;
  }
  .section-conteudo-5 {
    margin-top: 30px;
  }
  .imagem-topo {
    display: block;
    margin-bottom: 0px;
  }
  .logo-rodape {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .coluna-banco {
    text-align: center;
  }
  .coluna-social {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .titulo {
    font-size: 20px;
    line-height: 19px;
  }
  .h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .cta.contraste {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
  .section-conteudo-1 {
    padding-top: 0px;
  }
  .h2 {
    text-align: center;
  }
  .icone-seguro {
    width: 100px;
  }
}

@font-face {
  font-family: 'Oswald webfont';
  src: url('../fonts/oswald-light-webfont.woff2') format('woff2'), url('../fonts/oswald-light-webfont.woff') format('woff'), url('../fonts/oswald-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald webfont';
  src: url('../fonts/oswald-bold-webfont.woff2') format('woff2'), url('../fonts/oswald-bold-webfont.woff') format('woff'), url('../fonts/oswald-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.eot') format('embedded-opentype'), url('../fonts/Gotham-Black.woff') format('woff'), url('../fonts/Gotham-Black.ttf') format('truetype'), url('../fonts/Gotham-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham ultra';
  src: url('../fonts/Gotham-Ultra.eot') format('embedded-opentype'), url('../fonts/Gotham-Ultra.woff') format('woff'), url('../fonts/Gotham-Ultra.ttf') format('truetype'), url('../fonts/Gotham-Ultra.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham book';
  src: url('../fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}